* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans 3', 'Source Sans Pro', 'Segoe UI', sans-serif;
  background: #f5f6f7;
  color: #111c24;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #e9eaea;
}
::-webkit-scrollbar-thumb {
  background: #d2d3d3;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #777777;
}
